<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#8bc34a",
      "text": "#ffffff"
    },
    "button": {
      "background": "#ffffff",
      "text": "#8bc34a"
    }
  },
  "theme": "classic",
  "position": "bottom-right"
})});
</script>

<!-- end custom head snippets -->
