---
layout: splash
title: "Free Download &amp; Installation Tips"
header:
  overlay_color: "#8BC34A"
  cta_label: "<i class='fa fa-book'></i> Recent Posts"
  cta_url: "/blog/"
excerpt: "Downlinko is the place for step-by-step download and install tutorials."
feature_row_1:
  - image_path: /assets/images/index/step-by-step.png
    alt: "step by step"
    title: "Detailed Step-By-Step Instructions"
    excerpt: 'Installing an application can be a stressful activity:<br /><br />- Where can you download the installer?<br />- What options do you select?<br />- If at the end nothing works what do you do?<br /><br />Downlinko solves this by providing detailed instructions. We guide you through the different steps so that at the end everything works.'
feature_row_2:
  - image_path: /assets/images/index/high-resolution-images.png
    alt: "high resolution images"
    title: "High Resolution Images"
    excerpt: 'Each tutorial contains high resolution images.'
---

{% include feature_row id="feature_row_1" type="left" %}

{% include feature_row id="feature_row_2" type="right" %}
