---
layout: splash
title: "Free Download &amp; Installation Tips"
header:
  overlay_color: "#8BC34A"
  cta_label: "<i class='fa fa-book'></i> Check out the Latest Guides"
  cta_url: "/blog/"
excerpt: "Downlinko is the place for step-by-step download and install tutorials."
feature_row_1:
  - image_path: /assets/images/index/steps.png
    alt: "steps"
    title: "Detailed Step-By-Step Instructions"
    excerpt: "Installing an application can be a stressful activity:<br /><br />- Where can you download the installer?<br />- What options do you select?<br />- If nothing works, what do you do?<br /><br />Downlinko solves this by providing **detailed instructions**. We guide you through the different steps so that at the end everything works."
feature_row_2:
  - image_path: /assets/images/index/images.png
    alt: "images"
    title: "Supporting Images"
    excerpt: "Installation instructions that contain only text can sometimes be difficult to follow. On Downlinko each tutorial contains **detailed images** that:<br /><br />- Highlight the action(s) you need to perform.<br />- Show the outcome of certain steps.<br />- Allow you to verify if you are still on track."
feature_row_3:
  - image_path: /assets/images/index/target.png
    alt: "target"
    title: "Guides That Are to the Point"
    excerpt: "At Downlinko we provide installation tutorials that are to the point. They contain **all the needed information** to get you up and running:<br /><br />- Where to download the installer.<br />- How to perform the setup.<br />- How to verify everything is working"
feature_row_4:
  - image_path: /assets/images/index/questions.png
    alt: "questions"
    title: "Quick Support"
    excerpt: "If you are unsure about a specific step. Or if something is not working as described. Be sure to **leave a comment**.<br /><br />We will look into the problem and then assist you in finding a solution as soon as possible. If needed we also adapt our tutorials so that other people won't have the same problem."
---

{% include feature_row id="feature_row_1" type="left" %}

{% include feature_row id="feature_row_2" type="left" %}

{% include feature_row id="feature_row_3" type="left" %}

{% include feature_row id="feature_row_4" type="left" %}
