/* ==========================================================================
   Downlinko skin
   ========================================================================== */

/* Colors */
$green: #8bc34a !default;
$dark-green: #689f38 !default;
$orange: #ff5722 !default;
$text: #212121 !default;

/* Masthead */


/* Footer */
$footer-background-color : $green !default;
