/* ==========================================================================
   Downlinko skin
   ========================================================================== */

/* Colors */
$green: #8BC34A !default;
$dark-green: #689F38 !default;
$orange: #FF5722 !default;
$text-black: #212121 !default;
$text-white: #DCEDC8 !default;
$text-grey: #757575 !default;
$divider-grey: #BDBDBD !default;

/* Masthead */
.masthead, .greedy-nav {
  background: $green !important;
}
$masthead-link-color: $text-white !default;
$masthead-link-color-hover: $text-white !default;

/* Footer */
$footer-background-color: $orange !default;
$muted-text-color: $text-white !default;
