/* ==========================================================================
   Downlinko skin
   ========================================================================== */

/* Colors */
$green: #8BC34A !default;
$dark-green: #689F38 !default;
$orange: #FF5722 !default;
$text-black: #212121 !default;
$text-grey: #757575 !default;
$text-white: #FFFFFF !default;
$text-light-green: #DCEDC8 !default;
$background-white: #FFFFFF !default;
$divider-grey: #BDBDBD !default;

/* General */
$background-color: $background-white !default;

/* Masthead */
.masthead, .greedy-nav {
  background: $green !important;
}
$masthead-link-color: $text-white !default;
$masthead-link-color-hover: $text-white !default;
.masthead__menu-item {
  font-weight: bold;
}
.search__toggle, .greedy-nav__toggle {
  color: $text-white !important;
}
.greedy-nav__toggle {
  background-color: $green !important;
}
.greedy-nav__toggle:hover {
  color: $text-light-green !important;
}

/* Footer */
$footer-background-color: $green !default;
.page__footer-follow {
  color: $text-white;
}
.page__footer-copyright {
  color: $text-light-green;
}

/* Body */
.archive__subtitle {
  border-bottom-color: $divider-grey;
}
